body{
    background-color: #f7dec4;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;

}
:root{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;
}